//! **************************************************************************
// Written by: Map P.20131013 on Tue May 11 10:20:08 2021
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "clk" LOCATE = SITE "P94" LEVEL 1;
COMP "test_speed<0>" LOCATE = SITE "P116" LEVEL 1;
COMP "test_speed<1>" LOCATE = SITE "P117" LEVEL 1;
COMP "test_speed<2>" LOCATE = SITE "P118" LEVEL 1;
COMP "test_speed<3>" LOCATE = SITE "P119" LEVEL 1;
COMP "test_speed<4>" LOCATE = SITE "P120" LEVEL 1;
COMP "test_speed<5>" LOCATE = SITE "P121" LEVEL 1;
COMP "test_speed<6>" LOCATE = SITE "P123" LEVEL 1;
COMP "test_speed<7>" LOCATE = SITE "P124" LEVEL 1;
COMP "alarm_bit" LOCATE = SITE "P101" LEVEL 1;
COMP "motor_select" LOCATE = SITE "P134" LEVEL 1;
COMP "rotsens_rear" LOCATE = SITE "P126" LEVEL 1;
COMP "brems_bit" LOCATE = SITE "P100" LEVEL 1;
COMP "rotsens_front" LOCATE = SITE "P127" LEVEL 1;
COMP "motor_PWM" LOCATE = SITE "P133" LEVEL 1;
COMP "dist_SDA" LOCATE = SITE "P115" LEVEL 1;
COMP "dist_SCL" LOCATE = SITE "P114" LEVEL 1;
SCHEMATIC END;

