//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 20 13:36:15 2021
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "frontSpeed<0>" LOCATE = SITE "P115" LEVEL 1;
COMP "frontSpeed<1>" LOCATE = SITE "P114" LEVEL 1;
COMP "frontSpeed<2>" LOCATE = SITE "P112" LEVEL 1;
COMP "frontSpeed<3>" LOCATE = SITE "P111" LEVEL 1;
COMP "frontSpeed<4>" LOCATE = SITE "P105" LEVEL 1;
COMP "frontSpeed<5>" LOCATE = SITE "P102" LEVEL 1;
COMP "frontSpeed<6>" LOCATE = SITE "P101" LEVEL 1;
COMP "frontSpeed<7>" LOCATE = SITE "P100" LEVEL 1;
COMP "backSpeed<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "backSpeed<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "backSpeed<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "backSpeed<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "backSpeed<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "backSpeed<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "backSpeed<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "backSpeed<7>" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

